<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | ReportDesk</title>
    <link rel="stylesheet" href="/css/login.css">
    <script type="text/javascript" src="/scripts/Checkers.js" defer></script>
</head>

<body>
    <header>
        <div><a class="navbar-brand" href="#"><img src="/images/UNTDlogo.png" alt="UNTDlogo"></a></div>
        <div>
            <h1>ReportDesk</h1>
        </div>
    </header>

    <main id="Loginbox">
        <h2 id="Logintext">Login</h2>
        <fieldset id="loginbox">
            <form action="/users/login" method="POST">
                <div class="email-div">
                    <label id="emailtext" for="email">Email:</label>
                    <input type="text" id="email" name="email">
                </div>
                <br>
                <div class="password-div">
                    <label id="passwordtext" for="password">Password:</label>
                    <input type="password" id="password" name="password">
                </div>
                <button id="loginbutton" type="submit">Login</button>
                <p id="target"></p>

                
                <p id="traget2"></p>
                <br>
                <a href="/users/password-reset">Forgot Password?</a>
            </form>
            <button onclick="fun1()" id="checker">Check Password</button>
            <p> <%= Date() %> </p>
        </fieldset>
    </main>
    <footer>
    </footer>
</body>

</html>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>Library Webpage</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                 <a class="navbar-brand" href="#"><img src="/images/UNTDlogo.png" alt="UNTDlogo"></a>
              
            </div>

            <div class="menu">
                <ul>
                    <li><a href="/pages/records.html">Records</a></li>
                    <li><a href="/pages/create_user.html">Users</a></li>
                    
                    <li><a href="pages/headcount.html">Count</a></li>

                    <li><a href="pages/choose-Reports.html">Reports</a></li>
                    
                </ul>
            </div> 
            <h1>Report Desk</h1>

            <main id = "Loginbox">
                <h2>Login</h2>
            <fieldset>
                <form action="/login" method="POST">               
                    <div class="email-div">
                        <label for="email">Email:</label>
                        <input type="text" id="username" name="username">
                    </div>
                    <br>
                    <div class="password-div">
                        <label for="password">Password:</label>
                        <input type="text" id="password" name="password">
                    </div>
                    <button type="submit">Login</button>
                    <br>
                    <a href="/pages/password-reset/page1.html">Forgot Password?</a>
                </form>
            </fieldset>
            </main>


            



</body>
</html>








<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | ReportDesk</title>
    <script src="/Login.js"></script>
</head>

<body>
    <header>

    </header>
    <main>
        <h2>Login</h2>
        <fieldset>
            <form action="#" method="POST">               
                <div class="email-div">
                    <label for="email">Email:</label>
                    <input type="text" id="username" name="username">
                </div>
                <br>
                <div class="password-div">
                    <label for="password">Password:</label>
                    <input type="text" id="password" name="password">
                </div>
                <button type="submit">Login</button>
                <br>
                <a href="/pages/password-reset/page1.html">Forgot Password?</a>
            </form>
        </fieldset>

    </main>
    <footer>

    </footer>
</body>
</html> -->