<!DOCTYPE html>
<html lang="en">

<head>
  <title>Records</title>
  <link rel="stylesheet" type="text/css" href="/css/records.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>


  <header>

    <nav>

    <a class="navbar-brand" href="https://www.untdallas.edu"><img src="/images/UNTDlogo.png" alt="UNTDlogo"></a>

    <a class="navbuttons" href="getRecord">Records</a>
    <a class="navbuttons" href="/users/create-user">Users</a>
    <a class="navbuttons" href="/pages/headcount.html">Count</a>
    <a class="navbuttons" href="/pages/Reports.html">Reports</a>
    <a href="/" class="reportdesk">ReportDesk</a>

    </nav>


  </header>


  <h1 class="recordsheader">Records</h1>


<div class="formdiv">

  <form>

    <div>
      <h2 class="questionhead">Question</h2>
    </div>

    <div class="leftside">

      <div class="cat">

    <select name="categorydrop" id="categorydrop">
      <option value="" disabled selected>Category</option>
      <option value="general">General</option>
      <option value="directions">Directions</option>
      <option value="scanner">Scanner</option>
      <option value="technology">Technology</option>
    </select>

      </div>

      <div clas="loc">
    <select name="locationdrop" id="locationdrop">
      <option value="" disabled selected>Location</option>
      <option value="library">Library</option>
      <option value="directions">Directions</option>
      <option value="scanner">Scanner</option>
      <option value="technology">Technology</option>
    </select>

    </div>

  <div class="time">
      <input type="time" name="time1" />
  </div>

  <div class = "dur">
    <select name="durationdrop" id="durationdrop">
      <option value="" disabled selected>Duration</option>
      <option value="5+">More than 5 minutes</option>
      <option value="5-30">Between 5 to 30 minutes</option>
      <option value="30+">More than 30 minutes</option>
    </select>

    </div>

    </div>

    <div class="rightside">

      <div class="cour">
      <select name="coursecodedrop" id="coursecodedrop">
      <option value="" disabled selected>Course Code(Optional)</option>
      
        <%Object.entries(courseCodes).forEach(([key, value]) => {%>
        <option value="<%=key%>"><%=value.courseCode%></option>
        <% }) %>
      
      </select>

    </div>

    <div class="note">
    <textarea name="notestext" id="notestext">Notes </textarea>

    
    </div> 

   
    </div>

    <div class="submit">
      <p><input type="submit" value="Submit"></p>
    </div>


  </form>

</div>

<figure>
  <img src="/images/jaghead.png" alt="jaguar"/>
  
  </figure>

<footer>
  <p>University of North Texas at Dallas</p>
</footer>

</body>


</html>