<!DOCTYPE html>
<html lang="en">
<head>
    <title>Library Webpage</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
    
</head>
<body>
          <a href="/pages/Report.html" onclick="goBack()">Go Back</a>
          </nav>
          <section title="Graph">
            <canvas id="myChart"></canvas> 
          </section>
          <hr>
          <section title="Table">
          </section>
          <script>
            locationChart(<%- JSON.stringify(Object.values(reportLocation[0])) %>)
            function locationChart(questions)
            {
                var xValues = ["In-Person", "Phone", "Online"];
                var yValues = questions;
                var barColors = ["black","blue","#DAA520"];
                new Chart("myChart", {
                    type: "doughnut",
                    data: {
                            labels: xValues,
                    datasets: [{
                                backgroundColor: barColors,
                                data: yValues
                                }]
                         },
                    options: 
                        {
                            title: {display: false,},
                            plugins:{labels: {fontSize: 25,  fontColor: 'white',}}
                        }
                });
    
            var table ="<table><tr><th>Location</th><th>Total Questions<th></tr>"+
            "<tr>"+ "<td>" +xValues[0] + "</td><td>" + yValues[0] + "</td></tr>" +
            "<tr>"+ "<td>" +xValues[1] + "</td><td>" + yValues[1] + "</td></tr>" +
            "<tr>"+ "<td>" +xValues[2] + "</td><td>" + yValues[2] + "</td></tr>"
            + "</table>";
            document.querySelector('[title="Table"]').innerHTML = table;
        }
          </script>
</body>
</html>