html {
  width: 100%;
  /* background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(/images/jaghead.png); */
  background-position: center;
  background-size: cover;
  height: 100vh;
}

body {
  margin: 0px;

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1051A0;
  margin: auto;
  box-shadow: 0px 2px 5px #008000;
  margin-left: 0%;
  padding: 1.5em;

}

.navbuttons {
  text-decoration: none;
  color: white;
  padding: 1em 1em;
  font-size: 1.3em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;

}

.navbuttons:hover {
  background-color: #426bba;
}

.navbar-brand img {
  width: 12em;
  margin-left: 20px;
  margin-top: 5px;
}

.reportdesk {
  text-decoration: none;
  color: white;
  font-size: 2.5em;
  animation: fadeInOut 8s infinite alternate;
}

@keyframes fadeInOut {

  0%,
  100% {
    opacity: 0;
    color: white;
  }

  50% {
    opacity: 1;
    color: yellow;
  }
}

.recordsheader {
  position: relative;
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  padding-left: 6.5em;
  line-height: 2.0em;
  font-size: 2.5em;
  margin-top: 0px;
  border-bottom: solid;
  border-color: #073875;
}

.questionhead {
  font-size: 2.5em;
  text-align: center;
  color: white;



}

.formdiv {
  border-style: solid;
  height: 30em;
  width: 70em;
  margin: auto;
  /* This center the div   */
  background-color: #073875;
  border-radius: 1.5em;
  border-color: rgb(21, 21, 129);
}

.leftside div select {

  font-size: 20px;
  width: 10em;
  margin-top: 1em;
  border: 2px solid;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  color: #333;

}

.rightside div select {
  font-size: 20px;
  width: 12em;
  margin-top: 1em;
  border: 2px solid;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  color: #333;

}


.rightside textarea {
  width: 97%;
  height: 120px;
  border: 2px solid;
  margin-top: 2em;
}

.leftside div select:hover,
.rightside div select:hover,
.rightside div textarea:hover {
  background-color: rgb(186, 234, 186);
  color: #073875;
}

.leftside div input {
  font-size: 14px;
  width: 13.9em;
  margin-top: 1.5em;
  border: 2px solid;
  border-radius: 4px;
  cursor: pointer;
}


.leftside {
  position: absolute;
  left: 30%;
}

.rightside {
  position: absolute;
  right: 30%;
}

.submit input {
  text-align: center;
  width: 100px;
  height: 40px;
  margin-top: 250px;
  margin-left: 500px;
  border-radius: 4px;
  background-color: white;
  font-size: 15px;

}

.submit input:hover {
  background-color: #426bba;
  cursor: pointer;
}


footer p {
  background-color: #1051A0;
  color: white;
  padding: 1.5em;
  text-align: center;

  margin-top: 100px;
}

figure {
  max-width: 150px;
  /* Set the maximum width as needed */
  margin: 0 auto;
  /* Center the figure horizontally (optional) */
}

img {
  width: 100%;
  /* Make the image fill the width of the figure */


}