*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(/images/jaghead.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 75px;
    margin: auto;
    box-shadow: 0px 2px 5px #008000;
}

.icon{
    width: 20px;
    float: left;
    height: 70px;
}



.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    position: center;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #008000;
    
}

.h1{
    color: #ffffff;
    font-size: 22px;
    margin: 2px;
    padding: 8px;

}