html {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(/images/jaghead.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  body {
	margin: 0;
	font-family: Arial, sans-serif;
	padding: 0;
  }
h1 {
	color: black;
	font-size: 28px;
	font-weight: bold;
	font-family: Arial, sans-serif;
	text-align: center;
}
fieldset {
    margin: 0 auto;
	border: 2px solid black;
	border-radius: 5px;
	padding: 20px;
    text-align: center;
	width: 300px;
}
h2 {
	color: black;
	font-size: 24px;
	font-weight: bold;
	font-family: Arial, sans-serif;
	text-align: center;
}
p {
	color: black;
	font-family: Arial, sans-serif;
	text-align: center;
}
a {
	color: black;
	text-decoration: none;
	text-align: center;
}
a:hover {
	color: black;
	text-decoration: underline;
}
a:visited {
	color: black;;
	text-decoration: none;
	background-color: transparent;
}
a:active {
	color: rgb(8, 8, 8);
	 text-decoration: underline;
	background-color: transparent;
}