<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password Reset</title>
    <link rel="stylesheet" type="text/css" href="/css/Reset Password/page3.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                 <a class="navbar-brand" href="#"><img src="/images/UNTDlogo.png" alt="UNTDlogo"></a>
              
            </div>

            <h1>Report Desk</h1>

            <fieldset>
                <h2>Your Password has been reset successfully</h2>
                <p>Back to <a href="/">Login Page</a></p>
            </fieldset>

</body>
</html>