<!DOCTYPE html>
<html lang="en">

<head>
  <title>Password Reset</title>
  <link rel="stylesheet" type="text/css" href="/css/Reset Password/page2.css">
</head>

<body>
  <div class="main">
    <div class="navbar">
      <div class="icon">
        <a class="navbar-brand" href="#"><img src="/images/UNTDlogo.png" alt="UNTDlogo"></a>
      </div>
      <h1>Report Desk</h1>
      <fieldset>
        <h2>Enter new Password</h2>
        <strong>
          <p>Password Requirements</p>
        </strong>
        <ul>
          <li>Password must be at least 8 characters long</li>
          <li>Password must have at least one number</li>
          <li>Password must have at least one special character</li>
          <li>Password must have a lower case and upper case letter</li>
        </ul>
        <form action="/users/set-new-password" method="POST">
          <input type="hidden" name="token" value="<%= token %>">
          <input type="hidden" name="email" value="<%= email %>">
          <label for="newPassword">New Password:</label>
          <input type="password" id="newPassword" name="newPassword" required>
          <br>
          <button type="submit">Reset Password</button>
        </form>
      </fieldset>
    </div>
  </div>

  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const token = urlParams.get('token');
    const email = urlParams.get('email');
    console.log('Token:', token);
    console.log('Email:', email);

    const form = document.querySelector('form');
    form.addEventListener('submit', (event) => {
      event.preventDefault();
      const newPassword = document.querySelector('#newPassword').value;
      console.log('New password:', newPassword);

      fetch('/users/set-new-password', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ token, email, newPassword })
      })
        .then(response => {
          if (response.ok) {
            return response.json();
          } else {
            throw new Error('Password reset failed');
          }
        })
        .then(data => {
          alert(data.message);
          window.location.href = '/users/password-reset-success';
        })
        .catch(error => {
          console.error('Error:', error);
          alert(error.message);
        });
    });
  </script>
</body>

</html>