html {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(/images/jaghead.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  body {
	margin: 0;
	font-family: Arial, sans-serif;
	
}
h2 {
	color:black;
	font-size: 24px;
	font-weight: bold;
	font-family: Arial, sans-serif;
	text-align: center;
}
fieldset {
	border: 3px solid black;
	border-radius: 5px;

}
form {
	width: 300px;
	margin: 20px auto;

}
label {
	display: block;
	margin-bottom: 0px;
	font-weight: bold;
}
input[type="text"] {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	border: 2px solid black;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type="submit"] {
	padding: 10px 15px;
	color: forestgreen;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
input[type="email"] {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	box-sizing: border-box;
}
button {
	background-color: black;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
}